<!DOCTYPE html>
<html lang="en">
  <% include ../partials/head.ejs %>
  <body>
    <div id="auth">
      <div class="error-message">This is an Error Message</div>
      <form action="">
        <input type="text" id="useremail" name="email" placeholder="Email" />
        <input
          type="password"
          id="userpassword"
          name="password"
          placeholder="Password"
        />
        <div style="display: flex; justify-content: center">
          <input type="submit" id="sign-up" value="SIGN UP" />
          <input type="submit" id="login" value="LOGIN" />
        </div>
      </form>
    </div>

    <script src="/static/js/main.js"></script>
  </body>
</html>
